@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/*


    BASE ROOT STYLES


*/

:root {

  background: url("./public/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
   
    line-height: 1.5;
  
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    color-scheme: light dark;
    color: #213547;
    background-color: #fff;

    --primary-font: "Quicksand";
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}


  
* {
  box-sizing: border-box;
}

/*

  BASE ROOT ELEMENT STYLES

*/

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  
  margin: 0;
  min-width: 320px;
  scroll-behavior: smooth;

}

.globale-page-wrapper {
  
  

}

a{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
     h2, h3, h4, h5, h6 {
      font-family: var(--primary-font);
      font-weight: 700;
    }
}